kind: Secret
apiVersion: v1
metadata:
  name: {{ certificates.tls_secret_name }}
  namespace: openshift-ingress
data:
  tls.crt: >- 
    {{ chain | b64encode }}
  tls.key: >-
    {{ privateKey | b64encode }}
type: kubernetes.io/tls