;
; BIND data file for {{ domain.name }}
;
$TTL    604800
@       IN      SOA     {{ domain.name }}. admin.{{ domain.name }}. (
                       1        ; Serial
                      604800   ; Refresh
                       86400   ; Retry
                     2419200   ; Expire
                      604800 ) ; Negative Cache TTL
;
; A Records
{% for record in domain.records %}
{{ record.name }}   IN  {{ record.type }}  {{ record.ip }}
{% endfor %}

;
@       IN      NS      ns.{{ domain.name }}.
{% for record in domain.forward_only_records %}
{{ record.name }}   IN  {{ record.type }}   {{ record.ip }}
{% endfor%}
